/* path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
} */

#titleCont {
  text-align: center;
  border-bottom: 2px solid darkgrey;
}

#optionsNav {
  float: left;
  height: 90vh;
  width: 225px;
  padding-left: 25px;
  background-color: lightgrey;
}

#options {
  margin-left: 40px;
}

.mapContainer {  
  float: left;
  margin-top: 30px;
  margin-left: 180px;
}

.circle {
  height: 12px;
  width: 12px;
  background-color: navy;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.circle:hover {
  background-color: lightblue;
}

.white {
  background-color: white;
}

.lightBlue {
  background-color: rgb(183, 204, 210);
}

.blueish {
  background-color: rgb(116, 176, 226);
}

.blue {
  background-color: rgb(116, 116, 226);
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: rgb(255, 204, 0);
}

.reddish {
  background-color: rgb(255, 111, 0);
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.lightGreen {
  background-color: rgb(182, 240, 182);
}

.green {
  background-color: rgb(5, 255, 5);
}

.darkGreen {
  background-color: green;
}

.darkestGreen {
  background-color: rgb(1, 57, 1);
}

#dependentsForm {
  margin-bottom: 10px;
  margin-left: -20px;
}

#rankForm {
  margin-bottom: 200px;
  margin-left: -20px;
}

.bahCube {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  margin-left: -20px;
}

li:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

#BAHButtons {
  position: absolute;
  margin-top: -25px;
  margin-left: -150px;
}

#climateButtons {
  position: absolute;
  margin-top: -25px;
  margin-left: -150px;
  width: 75px;
}

#climateForm {
  margin-bottom: 248px;
  margin-left: -20px;
}

#dc {
  margin-left: -162.5px;
  margin-top: 247px;
}

#nyc {
  margin-left: -120px;
  margin-top: 190px;
}

#boston {
  margin-left: -80px;
  margin-top: 150px;
}

#trenton {
  margin-left: -135px;
  margin-top: 210px;
}

#dover {
  margin-top: 238px;
  margin-left: -134px;
}

#hampton {
  margin-top: 280px;
  margin-left: -145px;
}

#goldsboro {
  margin-top: 325px;
  margin-left: -160px;
}

#charleston {
  margin-top: 392px;
  margin-left: -190px;
}

#sumter {
  margin-top: 365px;
  margin-left: -200px;
}

#tullahoma {
  margin-top: 345px;
  margin-left: -324px;
}

#columbus {
  margin-top: 400px;
  margin-left: -353px;
}

#montgomery {
  margin-top: 411px;
  margin-left: -306px;
}

#valdosta{
  margin-top: 435px;
  margin-left: -250px;
}

#macon {
  margin-top: 400px;
  margin-left: -255px;
}

#biloxi {
  margin-top: 462px;
  margin-left: -348px;
}

#valparaiso {
  margin-top: 458px;
  margin-left: -303px;
}

#panamaCity {
  margin-top: 463px;
  margin-left: -283px;
}

#tampa {
  margin-top: 502px;
  margin-left: -220px;
}

#cocoaBeach {
  margin-top: 492px;
  margin-left: -182px;
}

#dayton {
  margin-top: 250px;
  margin-left: -275px;
}

#belleville {
  margin-top: 277px;
  margin-left: -383px;
}

#knobNoster {
  margin-top: 277px;
  margin-left: -440px;
}

#littleRock {
  margin-top: 370px;
  margin-left: -425px;
}

#minot {
  margin-top: 80px;
  margin-left: -560px;
}

#grandForks {
  margin-top: 84px;
  margin-left: -500px;
}

#offutt {
  margin-top: 220px;
  margin-left: -487px;
}

#wichita {
  margin-top: 298px;
  margin-left: -505px;
}

#enida {
  margin-top: 340px;
  margin-left: -519px;
}

#oklahomaCity {
  margin-top: 355px;
  margin-left: -505px;
}

#altus {
  margin-top: 366px;
  margin-left: -540px;
}

#wichitaFalls {
  margin-top: 395px;
  margin-left: -530px;
}

#sanAngelo {
  margin-top: 440px;
  margin-left: -570px;
}

#abilene {
  margin-top: 423px;
  margin-left: -560px;
}

#delRio {
  margin-top: 487px;
  margin-left: -577px;
}

#sanAntonio {
  margin-top: 487px;
  margin-left: -530px;
}

#rapidCity {
  margin-top: 160px;
  margin-left: -595px;
}

#cheyenne {
  margin-top: 215px;
  margin-left: -634px;
}

#aurora {
  margin-top: 250px;
  margin-left: -634px;
}

#coloradoSprings {
  margin-top: 270px;
  margin-left: -633px;
}

#clovis {
  margin-top: 370px;
  margin-left: -619px;
}

#albuqurque {
  margin-top: 365px;
  margin-left: -670px;
}

#alamogordo {
  margin-top: 398px;
  margin-left: -660px;
}

#greatFalls {
  margin-top: 75px;
  margin-left: -715px;
}

#spokane {
  margin-top: 50px;
  margin-left: -805px;
}

#takoma {
  margin-top: 25px;
  margin-left: -870px;
}

#mountainHome {
  margin-top: 150px;
  margin-left: -795px;
}

#ogden {
  margin-top: 200px;
  margin-left: -745px;
}

#marysville {
  margin-top: 210px;
  margin-left: -910px;
}

#travis {
  margin-top: 250px;
  margin-left: -920px;
}

#lasVegas {
  margin-top: 306px;
  margin-left: -820px;
}

#indianSprings {
  margin-top: 295px;
  margin-left: -827px;
}

#rosamond {
  margin-top: 314px;
  margin-left: -890px;
}

#lompoc {
  margin-top: 317px;
  margin-left: -917px;
}

#elSegundo {
  margin-top: 340px;
  margin-left: -885px;
}

#anchorage {
  margin-top: 525px;
  margin-left: -844px;
}

#fairbanks {
  margin-top: 495px;
  margin-left: -840px;
}

#honolulu {
  margin-top: 523px;
  margin-left: -683px;
}

.baseNameCont {
  /* height: 90px;
  width: 175px; */
  height: auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  border-radius: 8px;
  text-align: center;
}

#showDc {
  position: absolute;
  margin-top: -390px;
  margin-left: 813px;
}

#showBoston {
  position: absolute;
  margin-top: -485px;
  margin-left: 895px;
}

#showTrenton {
  position: absolute;
  margin-top: -488px;
  margin-left: 695px;
}

#showDover {
  position: absolute;
  margin-top: -400px;
  margin-left: 840px;
}

#showHampton {
  position: absolute;
  margin-top: -418px;
  margin-left: 715px;
}

#showGoldsboro {
  position: absolute;
  margin-top: -312px;
  margin-left: 816px;
}

#showCharleston {
  position: absolute;
  margin-top: -250px;
  margin-left: 786px;
}

#showSumter {
  position: absolute;
  margin-top: -275px;
  margin-left: 778px;
}

#showSumter {
  position: absolute;
  margin-top: -275px;
  margin-left: 778px;
}

#showTullahoma {
  position: absolute;
  margin-top: -290px;
  margin-left: 654px;
}

#showColumbus {
  position: absolute;
  margin-top: -240px;
  margin-left: 624px;
}

#showMontgomery {
  position: absolute;
  margin-top: -225px;
  margin-left: 672px;
}

#showValdosta {
  position: absolute;
  margin-top: -200px;
  margin-left: 728px;
}

#showMacon {
  position: absolute;
  margin-top: -238px;
  margin-left: 721px;
}

#showBiloxi {
  position: absolute;
  margin-top: -180px;
  margin-left: 627px;
}

#showValparaiso {
  position: absolute;
  margin-top: -180px;
  margin-left: 673px;
}

#showPanamaCity {
  position: absolute;
  margin-top: -175px;
  margin-left: 695px;
}

#showTampa{
  position: absolute;
  margin-top: -140px;
  margin-left: 758px;
}

#showCocoaBeach{
  position: absolute;
  margin-top: -145px;
  margin-left: 795px;
}

#showDayton{
  position: absolute;
  margin-top: -390px;
  margin-left: 705px;
}

#showBelleville{
  position: absolute;
  margin-top: -363px;
  margin-left: 597px;
}

#showKnobNoster{
  position: absolute;
  margin-top: -363px;
  margin-left: 537px;
}

#showLittleRock {
  position: absolute;
  margin-top: -270px;
  margin-left: 553px;
}

#showMinot {
  position: absolute;
  margin-top: -553px;
  margin-left: 419px;
}

#showGrandForks {
  position: absolute;
  margin-top: -553px;
  margin-left: 478px;
}

#showOffutt {
  position: absolute;
  margin-top: -418px;
  margin-left: 490px;
}

#showWichita {
  position: absolute;
  margin-top: -340px;
  margin-left: 474px;
}

#showEnida {
  position: absolute;
  margin-top: -300px;
  margin-left: 458px;
}

#showOklahomaCity {
  position: absolute;
  margin-top: -280px;
  margin-left: 472px;
}

#showAltus {
  position: absolute;
  margin-top: -269px;
  margin-left: 437px;
}

#showWichitaFalls {
  position: absolute;
  margin-top: -240px;
  margin-left: 449px;
}

#showSanAngelo {
  position: absolute;
  margin-top: -200px;
  margin-left: 408px;
}

#showAbilene {
  position: absolute;
  margin-top: -217px;
  margin-left: 417px;
}

#showDelRio {
  position: absolute;
  margin-top: -155px;
  margin-left: 400px;
}

#showSanAntonio {
  position: absolute;
  margin-top: -155px;
  margin-left: 445px;
}

#showRapidCity {
  position: absolute;
  margin-top: -475px;
  margin-left: 380px;
}

#showCheyenne {
  position: absolute;
  margin-top: -425px;
  margin-left: 343px;
}

#showAurora {
  position: absolute;
  margin-top: -387px;
  margin-left: 343px;
}

#showColoradoSprings {
  position: absolute;
  margin-top: -368px;
  margin-left: 343px;
}

#showClovis {
  position: absolute;
  margin-top: -268px;
  margin-left: 358px;
}

#showAlbuqurque {
  position: absolute;
  margin-top: -270px;
  margin-left: 306px;
}

#showAlamogordo {
  position: absolute;
  margin-top: -239px;
  margin-left: 316px;
}

#showGreatFalls {
  position: absolute;
  margin-top: -565px;
  margin-left: 263px;
}

#showSpokane {
  position: absolute;
  margin-top: -590px;
  margin-left: 170px;
}

#showTakoma {
  position: absolute;
  margin-top: -620px;
  margin-left: 108px;
}

#showMountainHome {
  position: absolute;
  margin-top: -490px;
  margin-left: 180px;
}

#showOgden {
  position: absolute;
  margin-top: -440px;
  margin-left: 233px;
}

#showMarysville {
  position: absolute;
  margin-top: -430px;
  margin-left: 67px;
}

#showTravis {
  position: absolute;
  margin-top: -390px;
  margin-left: 56px;
}

#showLasVegas {
  position: absolute;
  margin-top: -333px;
  margin-left: 156px;
}

#showIndianSprings {
  position: absolute;
  margin-top: -347px;
  margin-left: 150px;
}

#showRosamond {
  position: absolute;
  margin-top: -325px;
  margin-left: 89px;
}

#showLompoc {
  position: absolute;
  margin-top: -323px;
  margin-left: 60px;
}

#showElSegundo {
  position: absolute;
  margin-top: -300px;
  margin-left: 90px;
}

#showAnchorage {
  position: absolute;
  margin-top: -110px;
  margin-left: 132px;
}

#showFairbanks {
  position: absolute;
  margin-top: -143px;
  margin-left: 138px;
}

#showHonolulu {
  position: absolute;
  margin-top: -115px;
  margin-left: 295px;
}