path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-left: -162.5px;
  margin-top: 247px;
}